@model IEnumerable<KKN_UKK.Models.User.Nasabah>

@{
    ViewData["Title"] = "List Nasabah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: auto;">
    <div class="card-header">
        <a asp-action="CreateNasabah" class="btn btn-primary btn-sm">Create New</a>
        <br />
    </div>
    <div class="card-body">
        <table class="table table-responsive table-striped" id="Datatables">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountNumber)
                    </th>
                    <th>
                        NIK
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birtdate)
                    </th>
                    <th>
                        Jenis kelamin
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alamat)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIK)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birtdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alamat)
                        </td>
                        <td>
                            <div class="btn-group">
                                <span data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></span>
                                <div class="dropdown-menu">
                                    <a asp-action="EditNasabah" asp-route-id="@item.id" class="dropdown-item">Edit</a>
                                    <a asp-action="DetailNasabah" asp-route-id="@item.id" class="dropdown-item">Details</a>
                                    <a asp-action="DeleteNasabah" asp-route-id="@item.id" class="dropdown-item">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Script{
    <script>
    $(document).ready(function () {

        $('#Datatables').DataTable();
    });
    </script>

}