@model IEnumerable<KKN_UKK.Models.Transaksi.T_TransaksiTimbangan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="width: auto;">
    <div class="card-header">
        <h4> Saldo: @ViewBag.Saldo</h4>
        <br />
    </div>
    <div class="card-body">
        <table class="table table-responsive table-striped" id="Datatables">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NamaNasabah)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HargaSatuan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalHarga)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamaNasabah)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Items)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HargaSatuan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalHarga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Script{
    <script>
    $(document).ready(function () {

        $('#Datatables').DataTable();
    });
    </script>

}
